[Desktop Entry]
Version=1.0
Type=Application
Name=Net Scan
Comment=Route Analysis
Icon=/usr/lib/Net-Scan/icon.png
Exec=/usr/lib/Net-Scan/net-scan.sh
Terminal=true
